@import "src/app/core/mixins/fonts";

.messages {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 20px;
  background-color: var(--base-backgound-color);
  border-radius: 10px;
  border: 1px solid var(--selected-tab-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: var(--box-shadow-color) 0px 0.0625em 0.0625em,
              var(--box-shadow-color) 0px 0.125em 0.5em,
              rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;


  &-thread {
    border: 1px solid var(--selected-tab-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow-color) 3px 3px 6px 0px inset, var(--box-shadow-color) -3px -3px 6px 0px inset;
    padding: 20px 5px 20px 20px;
    height: calc(100% - 100px);

    &_scroll{
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      padding-right: 15px;
      display: flex;
      flex-direction: column-reverse;
      gap: 25px;

      &::-webkit-scrollbar {
        width: 6px;
      }
      
      &::-webkit-scrollbar-track {
        background: var(--selected-tab-color);
        box-shadow: var(--box-shadow-color) 0px 0.0625em 0.0625em,
                    var(--box-shadow-color) 0px 0.125em 0.5em,
                    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: var(--button-background-default-color);
        border-radius: 20px;
      }
    }

    &_message{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;

      &.right{
        flex-direction: row-reverse;
      }

      &-avatar{
        width: 75px;
        height: 75px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid var(--base-text-color);

        img{
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

        &.right{
          align-items: flex-end;
        }

        &__header{
          display: flex;
          align-items: flex-end;
          justify-content: center;
          gap: 10px;
          
          &.right{
            flex-direction: row-reverse;
          }

          h5{
            @include Heading_5;
          }
          p{
            @include Message_Date;
            color: var(--transparent-text-color);
          }
        }
        &__text{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row-reverse;
          gap: 5px;

          button {
            cursor: pointer;
            opacity: 0;
            transition: 300ms ease-in-out;
            &:hover{
              opacity: 1;
            }
            svg {
              height: 20px;
              width: 20px;
              
              path{
                fill: var(--error);
              }
            }
          }
          p{
            padding: 10px;
            border-radius: 5px;
            border: 1px solid var(--box-shadow-color);
            background-color: var(--background-color);
            white-space: pre-wrap;
            line-height: 20px;
            @include Input_Label;
            color: var(--base-text-color);
          }
        }
      }
    }
  }
  &-form {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
    width: 100%;

    .form-control {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 10px;
      position: relative;
      width: 100%;
      
      &_label{
        display: block;
        @include Input_Label;
      }
      
      &_input{
        display: block;
        resize: none;
        height: 45px;
        width: 100%;
        background-color: var(--input-backgound-color);
        box-shadow: var(--box-shadow-color) 0px 0px 0px 1px;
        border-radius: 3px;
        padding: 10px 10px;
        @include Input;
        color: var(--light-text-color);
              
        &:focus{
          box-shadow: var(--box-shadow-color) 0px 0px 0px 2px;
        }
        &::-webkit-scrollbar {
          width: 6px;
        }
        
        &::-webkit-scrollbar-track {
          background: var(--selected-tab-color);
          box-shadow: var(--box-shadow-color) 0px 0.0625em 0.0625em,
                      var(--box-shadow-color) 0px 0.125em 0.5em,
                      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        }
        
        &::-webkit-scrollbar-thumb {
          background-color: var(--button-background-default-color);
          border-radius: 20px;
        }  
      }


    }
    &_button {
      width: 75px;

      svg {
        path{
          fill: var(--button-text-color);
        }
      } 
    }
  }
}