@import "src/app/core/mixins/fonts";

.nav-bar {
  width: 100%;
  height: 60px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--base-backgound-color);
  box-shadow: 	0px 3px 3px 0px var(--box-shadow-color),
		0px 3px 6px 0px var(--box-shadow-color),
		0px 5px 10px 0px var(--box-shadow-color),
		0px 8px 12px 1px var(--box-shadow-color);
  border:	1px solid var(--box-shadow-color);
  border-radius:	5px;
  z-index: 1;

  &.active {
    .nav-bar_btn::before {
      transform: rotate(45deg);
    }
    .nav-bar_btn::after {
      transform: rotate(-45deg);
      box-shadow: none;
    }
  }

  &_btn {
    width: 75px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 16px;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      width: 30px;
      height: 2px;
      position: absolute;
      background-color: var(--base-text-color);
      transition: .5s;
    }

    &::before {
      transform: translateY(-8px);
    }

    &::after {
      transform: translateY(8px);
      box-shadow: 0 -8px 0 var(--base-text-color);
    }
  }

  &_menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;

    .menu-item {
      height: 80%;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 10px;
      border: 5px solid transparent;
      border-radius: 12px;
      transition: all 300ms ease-in-out;

      &.active {
        border: 5px solid var(--background-color);
        background-color: var(--background-color);
        box-shadow: 5px 7px 10px -5px var(--box-shadow-color) inset,
            4px 4px 10px -1px var(--box-shadow-color);
        a{
          svg {
            height: 20px;
            width: 20px;
          } 
        }
      }

      
      button{
        width: 30px;
      }
      
      a, button {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          transition: all 300ms ease-in-out;
          path{
            fill: var(--base-text-color);
          }
        }
      }
    }
    .calendar {
      &.active {
        background-color: rgba(164, 234, 255, 0.6);
        a {
          svg {
            path{
              fill: rgb(12, 97, 122);
            }
          } 
        }
      }
    }
    .chat {
      &.active {
        background-color: rgba(253, 255, 164, 0.6);
        a {
          svg {
            path{
              fill: rgb(131, 133, 10);
            }
          } 
        }
      }
    }
    
    .menu-user {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin: 0 10px;
      padding: 5px 20px;
      cursor: pointer;
      box-shadow: 0 0 0 0 var(--box-shadow-color), inset 0 0 2px 2px var(--box-shadow-color);
      border-radius: 15px;
      transition: all 300ms ease-in;

      &:hover {
        background-color: var(--selected-tab-color);
      }
      
      .user-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid var(--base-text-color);
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
  
      .user-name {
        @include Paragraph;
      }
    }
  }
}