.messages{
  position: fixed;
  z-index: 1200;
  bottom: 10%;
  right: 5%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  .success, .error, .warning, .information{
    width: 300px;
    min-height: 50px;
    background-color: var(--background-color);
    color: var(--base-text-color);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    position: relative;
    margin: 10px;
    font-size: 14px;
    overflow: hidden;
    transition: all 10s ease;
    transition-delay: 10s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px -1px 4px, rgba(0, 0, 0, 0.3) 0px 2px 23px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;


    &.hideAlertMessage{
      opacity: 0;
      visibility: hidden;
    }

    .message-type{
      font-family: 'Roboto Condensed', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: var(--base-text-color);
    }

    .close{
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      box-shadow: none;
      font-size: 18px;
      border: none;
      border-radius: 0;
      background-color: transparent;
    }
    .close:active{
      transform: translate(0, 0);
    }
    .icon{
      padding-top: 2.5px;
    }
    p{
      width: 200px;
      margin: 0;
      color: var(--base-text-color);
      font-family: 'Roboto', 'sans-serif';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
    }
  }
  .success{
      border-left: 4px solid var(--success);
  }
  .error{
      border-left: 4px solid var(--error);
  }
  .warning{
      border-left: 4px solid var(--warning);
  }
  .information{
      border-left: 4px solid var(--info);
  }
}