<div class="calendar">
  <div class="calendar-header">
    <app-ui-select-tabs
      [tabs]="['prev', 'today', 'next']"
      [scssClass]="scssClass.BUTTONS"
      (onClick)="changeDate($event)"
    ></app-ui-select-tabs>
    <p>{{ 'CALENDAR.SELECTED_DAY' | translate }} {{ dateService.date | async | moment : 'DD MMMM YYYY' }}</p>
    <app-ui-select-tabs
      [tabs]="['CALENDAR.DAY' | translate, 'CALENDAR.WEEK' | translate, 'CALENDAR.MONTH' | translate]"
      [selectedTab]="selectedTab"
      [scssClass]="scssClass.SELECT_BUTTONS"
      (onClick)="changeCalendar($event)"
    ></app-ui-select-tabs>
  </div>
  <div class="calendar-body">
    <app-monthly-calendar @fadeAnimationMySettings *ngIf="selectedTab === 'Monthly'"></app-monthly-calendar>
    <app-weekly-calendar @fadeAnimationMySettings *ngIf="selectedTab === 'Weekly'"></app-weekly-calendar>
  </div>
</div>
