@import "src/app/core/mixins/fonts";

.calendar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include Paragraph;
  position: relative;
  
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-body {
    position: relative;
  }
}