<div class="calendar" *ngIf="selectedTab | async as tab">
  <div class="calendar-header">
    <app-ui-select-tabs
      [tabs]="['prev', 'today', 'next']"
      [scssClass]="scssClass.BUTTONS"
      (onClick)="changeDate($event, tab)"
    ></app-ui-select-tabs>
    <p *ngIf="date | async as date">
      {{ 'CALENDAR.SELECTED_DAY' | translate }} {{ date.toString() | date : 'dd MMMM YYYY' }}
    </p>
    <app-ui-select-tabs
      [tabs]="['CALENDAR.DAY' | translate, 'CALENDAR.WEEK' | translate, 'CALENDAR.MONTH' | translate]"
      [selectedTab]="selectedTab | async"
      [scssClass]="scssClass.SELECT_BUTTONS"
      (onClick)="changeCalendar($event)"
    ></app-ui-select-tabs>
  </div>
  <div class="calendar-body">
    <app-monthly-calendar
      [date]="date | async"
      @fadeAnimationMySettings
      *ngIf="tab === 'Monthly'"
      (selectDate)="selectDay($event)"
    ></app-monthly-calendar>
    <app-weekly-calendar
      [date]="date | async"
      @fadeAnimationMySettings
      *ngIf="tab === 'Weekly'"
      (selectDate)="selectDay($event)"
    ></app-weekly-calendar>
    <app-daily-calendar @fadeAnimationMySettings *ngIf="tab === 'Daily'"></app-daily-calendar>
  </div>
</div>
