@import "src/app/core/mixins/fonts";

.select{
  position: relative;
  z-index: 1;
  &-tabs {
    display: flex;
    gap: 2px;
  
    button {
      cursor: pointer;
      width: 200px;
      height: 35px;
      background-color: transparent;
      color: var(--base-text-color);
      text-align: center;
      box-shadow: 0 0 0 0 var(--box-shadow-color), inset 0 0 2px 2px var(--box-shadow-color);
      transition: all 300ms ease-in;
      @include Paragraph;
    }
    .active{
      background-color: var(--selected-tab-color);
      color: var(--base-text-color);
    }
  }
  &-line{
    width: 200px;
    height: 5px;
    background-color: var(--button-background-default-color);
    transition: all ease-in 300ms;
  }
}