@import "src/app/core/mixins/fonts";

.my-settings{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  width: 800px;
  height: 500px;

  h1{
    @include Heading_3;
    color: var(--base-text-color);
  }
  &_select{
    &-line{
      position: relative;
      top: -3px;
      width: 100%;
      height: 2px;
      background-color: var(--box-shadow-color);
    }
  }
}