.recipient{
  height: 100%;
  width: 350px;
  position: relative;
  background-color: var(--base-backgound-color);
  border-radius: 10px;
  border: 1px solid var(--selected-tab-color);
  box-shadow: var(--box-shadow-color) 0px 0.0625em 0.0625em,
              var(--box-shadow-color) 0px 0.125em 0.5em,
              rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}