@import "src/app/core/mixins/fonts";

.profile{
  &-header{
    display: flex;
    justify-content: space-between;
    gap: 30px;

    &_avatar{
      height: 175px;
      width: 175px;
      border: 2px solid var(--box-shadow-color);
      border-radius: 5px;
      overflow: hidden;
      position: relative;
      
      button{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        padding: 10px;
        background-color: var(--background-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid var(--base-text-color);

        &:active{
          box-shadow: rgba(50, 50, 93, 0.25) 0px 15px 30px -12px inset, rgba(0, 0, 0, 0.3) 0px 9px 18px -18px inset;
        }
        svg {
          fill: var(--base-text-color);
          height: 20px;
          width: 20px;
        } 
      }
      
      img{
        object-fit: fill;
        width: 100%;
        height: 100%;
      }
    }
    &_fields{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  &-body{
    padding: 20px 0;

    &_fields{
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
  }
}

.form-control{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  
  &_label{
    display: block;
    @include Input_Label;
  }
  
  &_input{
    display: block;
    height: 30px;
    width: 250px;
    background-color: var(--input-backgound-color);
    box-shadow: var(--box-shadow-color) 0px 0px 0px 1px;
    border-radius: 3px;
    padding: 0 10px;
    @include Input;
    color: var(--light-text-color);
          
    &:focus{
      box-shadow: var(--box-shadow-color) 0px 0px 0px 2px;
    }      
  }

  &_textarea{
    height: 50px;
    width: 350px;
    background-color: var(--input-backgound-color);
    box-shadow: var(--box-shadow-color) 0px 0px 0px 1px;
    border-radius: 3px;
    padding: 10px;
    @include Input;
    color: var(--light-text-color);

    &:focus{
      box-shadow: var(--box-shadow-color) 0px 0px 0px 2px;
    }  
  }
}