@import "src/app/core/mixins/fonts";

:host ::ng-deep {
  width: 100%;
}

button{
  padding: 10px 0;
  background-color: var(--button-background-default-color);
  color: var(--button-text-color);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  @include Button;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  &:active{
    background: var(--button-background-active-color);
  }
  &:disabled{
    background: var(--button-outline-basic-background-color);
  }
  &:focus{
    box-shadow: 0 0 5px var(--box-shadow-color);
  }
}
.default{
  padding: 15px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.transparent{
  background: var(--button-background-transparent-color);
  border-radius: 2px;
  border: 2px solid var(--button-hover-background-transparent-color);
  box-shadow: none;
  transition: all 200ms ease;
  
  &:hover{
    background-color: var(--button-hover-background-transparent-color);
    color: var(--button-background-default-color);
  }
} 