version: '3.9'

volumes:
  datafiles:

services:

  database:
    image: mysql:8.0.22
    ports:
      - "3306:3306"
    volumes:
      - ./database/~mysql:/var/lib/mysql
      - ./database/mysql.cnf:/etc/mysql/conf.d/my.cnf
    restart: always
    environment: 
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD} 
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE} 
      
  backend:
    build:
      context: ./backend
      dockerfile: dockerfile
    depends_on: 
      - database
    ports:
      - "5000:80"
    restart: always
    environment: 
      - DBHOST=database
      - ASPNETCORE_ENVIRONMENT=Production

  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    ports:
      - 4200:80
    restart: always
