version: '3.9'

services:

  database:
    image: mysql:8.0.22
    ports:
      - "3306:3306"
    volumes:
      - ./database/~mysql:/var/lib/mysql
      - ./database/mysql.cnf:/etc/mysql/conf.d/my.cnf
    env_file:
      - .env
    environment: 
      MYSQL_ROOT_PASSWORD: 9i3KsZ0jR2mA1*
      MYSQL_USER: root
      MYSQL_PASSWORD: 9i3KsZ0jR2mA1*
      MYSQL_DATABASE: panel
    restart: always

  backend:
    build:
      context: ./backend
      dockerfile: dockerfile
    depends_on: 
      - database
    ports:
      - "5000:80"
    restart: always
    environment: 
      - DBHOST=database
      - ASPNETCORE_ENVIRONMENT=Production

  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    ports:
      - "4200:80"
    restart: always

  server:
    image: nginx:mainline
    volumes:
      - ./server/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
