@import "src/app/core/mixins/fonts";

.settings {
  width: 250px;
  height: 100%;
  position: fixed;
  right: 0;
  transform: translateX(100%);
  background-color: var(--settings-bg-color);
  box-shadow: 0 8px 16px 0 var(--box-shadow-color);
  transition: all .5s;

  &.side-bar_rtl {
    left: 0;
    transform: translateX(-100%);

    .settings-btn_toggle {
      left: 250px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      &.active {
        transform: translateX(-100%);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  &.active {
      transform: translateX(0);
  }

  &::before {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--button-background-default-color);
  }

  &-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 100px;

    p {
      @include Paragraph;
      margin-bottom: 8px;
    }

    &_side-bar {
      div {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      button.active {
        svg {
          path {
            stroke: var(--button-background-default-color);
          }
        }
      }

      button svg {
        width: 40px;
        height: 40px;
  
        path {
          fill: var(--settings-bg-color);
          stroke: var(--button-outline-basic-background-color);
        }
      }

      button svg:hover {
        path {
          stroke: var(--button-background-default-color);
        }
      }
    }

    &_themes {
      div {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      button {
        width: 40px;
        height: 40px;
        border: 2px solid transparent;
        border-radius: 50%;

        &.active {
          border: 2px solid var(--button-background-default-color);
        }

        &:hover {
          border: 2px solid var(--button-background-default-color);
        }
      }
      button.theme-light {
        background-color: rgb(237, 241, 247);
      }
      button.theme-dark {
        background-color: rgb(21, 26, 48);
      }
    }

    &_languages {
      div {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      button {
        @include Paragraph;
        text-transform: uppercase;

        &.active {
          color: var(--button-background-default-color);
        }

        &:hover {
          color: var(--button-background-default-color);
        }
      }
    }

  }

  &-btn_toggle {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 450px;
    right: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--settings-bg-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 1px 3px var(--box-shadow-color);
    transition: all .5s;

    &.active {
      transform: translateX(100%);
      background-color: var(--button-background-default-color);
      color: #fff;
      border-radius: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: none;

      svg {
        transform: rotate(360deg);

        path {
          fill: var(--settings-bg-color);
        }
      }
    }

    &:hover {
      background-color: var(--button-background-default-color);
      color: var(--settings-bg-color);

      svg {
        path {
          fill: var(--settings-bg-color);
        }
      }
    }
  }

  svg {
    width: 20px;
    height: 20px;
    transform: rotate(0);
    transition: all .5s;

    path {
      fill: var(--button-outline-basic-background-color);
    }
  }
}