<div class="weekly-calendar">
  <div class="weekly-calendar_container">
    <div class="weekly-calendar_container-header" *ngFor="let week of calendar">
      <div *ngFor="let day of week.days; let i = index" class="title">
        <p>{{ 'CALENDAR.' + daysOfTheWeek[i] | translate }}</p>
        <span>{{ day.value | moment : 'DD MMM' }}</span>
      </div>
    </div>
    <div class="weekly-calendar_container-body">
      <div class="week" *ngFor="let week of calendar">
        <div
          class="day"
          *ngFor="let day of week.days; let i = index"
          [ngClass]="{ active: day.active, disabled: day.disabled, selected: day.selected }"
          (click)="selected(day.value)"
        >
          <div *ngFor="let hour of hours" class="hour">
            <p *ngIf="i === 0">{{ hour }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
