.weekly-calendar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  color: var(--base-text-color);

  &_container {
    &-header {
      display: flex;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% / 7);
        border-radius: 5px;
        background-color: var(--button-background-default-color);
        border: 1px solid  var(--button-text-color);
        color: rgb(255, 255, 255);
        padding: 5px;
      }
    }
    &-body {
      padding-top: 10px;
      width: 100%;
      display: flex;
      gap: 5px;

      .week{
        display: flex;
        gap: 5px;
        width: 100%;

        .day{
          width: calc(100% / 7);
          cursor: pointer;
          transition: all 300ms ease;
          border: 1px solid transparent;
          border-radius: 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
          rgba(0, 0, 0, 0.25)
          0px 0.125em 0.5em,
          rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

          &:hover{
            border: 1px solid var(--button-background-default-color);
          }
          &.active{
            background-color: var(--today-color);
          }
          .hour{
            height: 30px;
            border: solid 1px var(--transparent-text-color);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 0 0 3px;
          }
        }
      }
    }
  }
}