@import "src/app/core/mixins/fonts";

.monthly-calendar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  @include Paragraph;

  &_container {
    &-header {
      display: flex;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

      .title {
        display: flex;
        align-items: center;
        width: calc(100% / 7);
        justify-content: center;
        background-color: var(--button-background-default-color);
        border: 1px solid  var(--button-text-color);
        color: var(--button-text-color);
        border-radius: 5px;
        padding: 5px;
      }
    }
    &-body {
      padding-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;

      .week{
        display: flex;
        gap: 5px;

        .day{
          width: calc(100% / 7);
          height: 150px;
          padding: 10px;
          cursor: pointer;
          transition: all 300ms ease;
          position: relative;
          border: 1px solid transparent;
          border-radius: 5px;
          color: var(--base-text-color);
          box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
                      rgba(0, 0, 0, 0.25)
                      0px 0.125em 0.5em,
                      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
          
          &-button {
            position: absolute;
            bottom: 10px;
            right: 10px;
            background-color: var(--base-backgound-color);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            border: 2px solid var(--base-text-color);
            padding: 2.5px;

            svg {
              height: 20px;
              width: 20px;

              path {
                fill: var(--base-text-color);
              }
            }
          }

          &:hover {
            border: 1px solid var(--button-background-default-color);
          }

          &.active {
            background-color: var(--today-color);
          }
          
          &.disabled {
            background-color: rgba(0, 0, 0, 0.1);
            cursor: auto;
            
            button {
              display: none;
            }
            &:hover{
              border: 1px solid transparent;
            }
          }


        }
      }
    }
  }
}