@import "src/app/core/mixins/fonts";

.monthly-calendar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  @include Paragraph;

  &_container {
    &-header {
      display: flex;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

      .title {
        display: flex;
        align-items: center;
        width: calc(100% / 7);
        justify-content: center;
        background-color: var(--button-background-default-color);
        border: 1px solid  var(--button-text-color);
        color: var(--button-text-color);
        padding: 5px;
      }
    }
    &-body {
      padding-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;

      .week{
        display: flex;
        gap: 5px;

        .day{
          width: calc(100% / 7);
          height: 150px;
          padding: 10px;
          cursor: pointer;
          transition: all 300ms ease;
          border: 1px solid transparent;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
                      rgba(0, 0, 0, 0.25)
                      0px 0.125em 0.5em,
                      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

          &:hover {
            border: 1px solid var(--button-background-default-color);
          }
          &:active {
            border: 1px solid var(--button-background-default-color);
          }
          &.active{
            background-color: var(--today-color);
          }
          &.disabled{
            background-color: rgba(0, 0, 0, 0.1);
            cursor: auto;

            &:hover{
              border: 1px solid transparent;
            }
          }
        }
      }
    }
  }
}