<div class="container">
  <h3 class="container-title">
    {{ 'AUTHENTICATION.SIGN_UP_HERE' | translate | titlecase }}
  </h3>
  <form class="form" [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
    <div class="form-control">
      <label class="form-control_label" for="username">{{
        'AUTHENTICATION.USER_NAME' | translate | titlecase
      }}</label>
      <input
        class="form-control_input"
        type="text"
        id="username"
        formControlName="userName"
      />
    </div>
    <div class="form-control">
      <label class="form-control_label" for="email">{{
        'AUTHENTICATION.EMAIL' | translate | titlecase
      }}</label>
      <input
        formControlName="email"
        class="form-control_input"
        type="text"
        id="email"
      />
    </div>
    <div class="form-passwords" formGroupName="passwords">
      <div class="form-control">
        <label class="form-control_label" for="password">{{
          'AUTHENTICATION.PASSWORD' | translate | titlecase
        }}</label>
        <input
          class="form-control_input"
          type="password"
          id="password"
          name="password"
          formControlName="password"
        />
      </div>
      <div class="form-control">
        <label class="form-control_label" for="confirmpassword">{{
          'AUTHENTICATION.CONFIRM_PASSWORD' | translate | titlecase
        }}</label>
        <input
          class="form-control_input"
          type="password"
          id="confirmpassword"
          name="confirmpassword"
          formControlName="confirmpassword"
        />
      </div>
    </div>
    <div class="form-control">
      <label class="form-control_label" for="firstName">{{
        'AUTHENTICATION.FIRST_NAME' | translate | titlecase
      }}</label>
      <input
        formControlName="firstName"
        class="form-control_input"
        type="text"
        id="firstName"
      />
    </div>
    <div class="form-control">
      <label class="form-control_label" for="lastName">{{
        'AUTHENTICATION.LAST_NAME' | translate | titlecase
      }}</label>
      <input
        formControlName="lastName"
        class="form-control_input"
        type="text"
        id="lastName"
      />
    </div>
    <div class="form-control">
      <div class="form-control_label">Gender</div>
      <div class="form-control_radio">
        <app-ui-input
          [type]="'radio'"
          [name]="'gender'"
          [label]="'male'"
          [isChecked]="true"
        ></app-ui-input>
        <app-ui-input
          [type]="'radio'"
          [name]="'gender'"
          [label]="'female'"
        ></app-ui-input>
        <app-ui-input
          [type]="'radio'"
          [name]="'gender'"
          [label]="'other'"
        ></app-ui-input>
      </div>
    </div>
    <div class="form-control">
      <app-ui-date-picker [isStart]="true"></app-ui-date-picker>
    </div>
    <div class="form-links">
      <a (click)="onClick.emit()">{{
        'AUTHENTICATION.SIGN_IN' | translate | titlecase
      }}</a>
      <app-ui-button
        [type]="'submit'"
        [text]="'AUTHENTICATION.SIGN_UP' | translate | titlecase"
      ></app-ui-button>
    </div>
  </form>
</div>
