@import "src/app/core/mixins/fonts";

.form{
  background-color: var(--backgorund-transparent-color);
  border: 2px solid var(--border-color);
  box-shadow: 0 0 40px var(--box-shadow-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  height: 100%;
  
  &-title{
    @include Heading_3;
  }
  
  &-passwords{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    gap: 30px;
  }
  
  &-control{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    
    &_radio{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    &_label{
      display: block;
      @include Input_Label;
    }
    
    &_input{
      display: block;
      height: 50px;
      width: 400px;
      background-color: var(--input-backgound-color);
      border-radius: 3px;
      padding: 0 10px;
      @include Input;

      &:focus{
        box-shadow: var(--base-items-focus-color) 0px 0px 0px 2px;
      }
    }
  }
  &-links{
    padding: 0 2px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    a{
      @include Link;
      cursor: pointer;
    }
  }
}
  