@import "src/app/core/mixins/fonts";

.container{
  background-color: var(--backgorund-transparent-color);
  border-radius: 10px;
  border: 2px solid var(--border-color);
  box-shadow: 0 0 40px var(--box-shadow-color);
  backdrop-filter: blur(10px);
  padding-top: 30px;

  &-title{
    @include Heading_3;
  }
}
.form{
  display: flex;
  width: 800px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 30px;
  
  &-passwords{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 30px;
  }
  
  &-control{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
 
    &_label{
      display: block;
      @include Input_Label;
    }
    &_input{
      display: block;
      height: 50px;
      width: 350px;
      background-color: var(--input-backgound-color);
      border-radius: 3px;
      padding: 0 10px;
      @include Input;
    }
  }
  &-links{
    padding: 0 2px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    a{
      @include Link;
      cursor: pointer;
    }
  }
}
  