@import "src/app/core/mixins/fonts";

.side-bar {
  width: 60px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--side-bar-background-color);
  transition: .5s;

  &.active {
    width: 250px;
    
    .side-bar_menu {
      width: 250px;

      .side-bar_item {
        width: 250px;
      }
    }


    .side-bar_text {
      opacity: 1;
      visibility: visible;
    }
  }

  &_menu {
    width: 75px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 100px;
    left: 0;
    transition: all .5s;
    gap: 5px;

  }

  &_item {
    height: 60px;
    width: 60px;
    position: relative;
    border: 5px solid transparent;
    border-radius: 12px;
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .5s;

    &.active {
      transform: translateX(30px);
      background-color: var(--background-color);

      svg {
        width: 20px;
        path {
          fill: var(--base-text-color);
        }
      }

      &::before,
      &::after {
        right: 25px;
        transform: scale(1);
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: transparent;
      transform: scale(0);
      transition: .5s;
    }

    &::before {
      top: -15px;
      border-bottom-right-radius: 20px;
      box-shadow: 6px 5px 0 5px var(--background-color);
    }

    &::after {
      bottom: -15px;
      border-top-right-radius: 20px;
      box-shadow: 6px -5px 0 5px var(--background-color);
    }
  }

  &_link {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 7.5px;
    text-align: center;
    text-decoration: none;
    color: var(--base-text-color);
    z-index: 1;
  }

  &_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 35px;
    height: 35px;
    background-color: var(--button-background-default-color);
    border-radius: 10px;
    border: 6px solid transparent;

    svg {
      width: 20px;
      path {
        fill: var(--base-text-color);
      }
    }
  }

  &_text {
    @include Paragraph;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
  }
}