@import "src/app/core/mixins/fonts";

.side-bar {
  width: 75px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  transition: .5s;

  &.active {
    width: 250px;

    .side-bar_menu {
      width: 250px;
    }
    
    .side-bar_text {
      opacity: 1;
      visibility: visible;
    }
  }

  &_menu {
    width: 75px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 100px;
    left: 0;
    transition: all .5s;

    &::before {
      content: '';
      position: absolute;
      top: -40px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: var(--button-background-default-color);
    }
  }

  &_item {
    width: 100%;
    height: 76px;
    position: relative;
    border: 8px solid transparent;
    border-radius: 12px;
    list-style: none;
    cursor: pointer;
    transition: .5s;

    &.active {
      transform: translateX(30px);
      background-color: var(--background-color);

      svg {
        path {
          fill: var(--button-background-default-color);
        }
      }

      &::before,
      &::after {
        right: 22px;
        transform: scale(1);
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: -28px;
      right: -10px;
      width: 20px;
      height: 20px;
      background-color: transparent;
      border-bottom-right-radius: 20px;
      box-shadow: 6px 5px 0 5px var(--background-color);
      transform: scale(0);
      transform-origin: bottom right;
      transition: .5s;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -28px;
      right: -10px;
      width: 20px;
      height: 20px;
      background-color: transparent;
      border-top-right-radius: 20px;
      box-shadow: 6px -5px 0 5px var(--background-color);
      transform: scale(0);
      transform-origin: bottom right;
      transition: .5s;
    }
  }

  &_link {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 12px;
    text-align: center;
    text-decoration: none;
    z-index: 1;
  }

  &_icon {
    display: block;
    min-width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 1rem;
    line-height: 40px;
    border: 6px solid transparent;

    svg {
      path {
        fill: var(--background-color-darker);
      }
    }
  }

  &_text {
    @include Paragraph;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    color: var(--box-shadow-color);
    opacity: 0;
    visibility: hidden;
    transition: .5s;
  }
}