:host, :host-context, ::ng-deep {
  width: 100%;
  height: 100%;
}

.admin {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--base-text-color);

  &-wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
  
    &_router{
      width: 100%;
      padding: 100px 110px 0px 50px;
    }
  }
}