@import "src/app/core/mixins/fonts";

.nav-bar {
  width: 100%;
  height: 60px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-bar-bg-color);
  box-shadow: 0 8px 16px 0 var(--box-shadow-color);
  z-index: 1;

  &.active {
    .nav-bar_btn::before {
      transform: rotate(45deg);
    }
    .nav-bar_btn::after {
      transform: rotate(-45deg);
      box-shadow: none;
    }
  }

  &_btn {
    width: 75px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 16px;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      width: 30px;
      height: 2px;
      position: absolute;
      background-color: var(--button-background-default-color);
      transition: .5s;
    }

    &::before {
      transform: translateY(-8px);
    }

    &::after {
      transform: translateY(8px);
      box-shadow: 0 -8px 0 var(--button-background-default-color);
    }
  }

  &_menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .menu-item {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      padding: 0 16px;
      cursor: pointer;

      &.active {
        svg {
          path {
            fill: var(--button-background-default-color);  
          }
        }
      }

      &:hover {
        svg {
          path {
            fill: var(--button-background-default-color);  
          }
        }
      }

      svg {
        width: 20px;
        height: 20px;

        path {
          fill: var(--button-outline-basic-background-color);
        }
      }

      .user-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .user-name {
        @include Paragraph;
      }
    }
  }
}