.nav-bar {
  width: 100%;
  position: fixed;
  display: flex;
  background-color: #fff;
  z-index: 9999;

  &_btn {
    width: 75px;
    height: 60px;
    // position: absolute;
    // top: 0;
    // left: 0;
    padding: 0 23px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // border-bottom: 1px solid var(--box-shadow-color);
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      width: 30px;
      height: 2px;
      position: absolute;
      background-color: var(--box-shadow-color);
      transition: .5s;
    }

    &::before {
      transform: translateY(-8px);
    }

    &::after {
      transform: translateY(8px);
      box-shadow: 0 -8px 0 var(--box-shadow-color);
    }
  }
}