.nav-bar {
  width: 100%;
  height: 60px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-bar-bg-color);
  box-shadow: 0 8px 16px 0 var(--box-shadow-color);
  z-index: 1;

  &.active {
    .nav-bar_btn::before {
      transform: rotate(45deg);
    }
    .nav-bar_btn::after {
      transform: rotate(-45deg);
      box-shadow: none;
    }
  }

  &_btn {
    width: 75px;
    height: 100%;
    padding: 0 23px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      width: 30px;
      height: 2px;
      position: absolute;
      background-color: var(--button-background-default-color);
      transition: .5s;
    }

    &::before {
      transform: translateY(-8px);
    }

    &::after {
      transform: translateY(8px);
      box-shadow: 0 -8px 0 var(--button-background-default-color);
    }
  }
}