<div class="nav-bar" [ngClass]="{ active: isSidebarToggled$ | async }">
  <div class="nav-bar_btn" (click)="toggleButtonActive()"></div>
  <ul class="nav-bar_menu">
    <li class="menu-item">
      <a>
        <img src="/assets/images/nav-bar/notes.png" alt="mess" />
      </a>
    </li>
    <li class="menu-item">
      <a>
        <img src="/assets/images/nav-bar/bell.png" alt="mess" />
      </a>
    </li>
    <li class="menu-item">
      <a>
        <img src="/assets/images/nav-bar/calendar.png" alt="mess" />
      </a>
    </li>
    <li class="menu-item" routerLink="chat">
      <a routerLink="chat">
        <img src="/assets/images/nav-bar/chat.png" alt="mess" />
      </a>
    </li>
    <li class="menu-item">
      <div class="user-img">
        <img src="/assets/images/nav-bar/man.png" alt="User image" />
      </div>
      <p class="user-name">John Doe</p>
    </li>
  </ul>
</div>
