<div class="date-picker">
  <div
    class="date-picker-body"
    [ngClass]="{ open: isOpen }"
    (click)="isOpen = false"
  ></div>
  <div class="date-button">
    <p>Date:</p>
    <p>
      {{ dateService.startDate | async | moment : 'DD.MM.YYYY' }}
    </p>
    <p *ngIf="!isStart">
      {{ dateService.endDate | async | moment : 'DD.MM.YYYY' }}
    </p>
    <app-ui-button (onClick)="openCalendar()"></app-ui-button>
  </div>

  <div class="table" [ngClass]="{ open: isOpen }">
    <div class="buttons">
      <app-ui-button [text]="'<'" (onClick)="next()"></app-ui-button>
      <p *ngIf="isStart">
        {{ dateService.startDate | async | moment : 'MMMM' }}
      </p>
      <p *ngIf="!isStart">
        {{ dateService.endDate | async | moment : 'MMMM' }}
      </p>
      <app-ui-button [text]="'>'" (onClick)="prev()"></app-ui-button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Sun</th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wen</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let week of calendar">
          <td
            *ngFor="let day of week.days"
            [class.disabled]="day.disabled"
            (click)="select(day.value)"
          >
            <span [class.selected]="day.selected" [class.active]="day.active">
              {{ day.value | moment : 'DD' }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
