.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 3;

  &::-webkit-scrollbar {
    display: none;
  }
}

.bg,
.close-area {
  content: '';
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#000000, 0.6);
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;

  &.hide{
    opacity: 0;
  }
}

.popup-wrapper {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;

  &.hide{
    transform: scale(1.2);
  }
}



.popup {
  background-color: var(--base-backgound-color);
  max-width: 90vw;
  padding: 20px;
  position: relative;
  width: fit-content;
  border-radius: 5px;

  &-close {
    position: absolute;
    background-color: transparent;
    border: none;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    svg{
      fill: var(--base-text-color)
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
 }