@import "src/app/core/mixins/fonts";

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px;
  height: 100%;  
  background-color: var(--background-color);
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.45);
  -moz-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.45);
  box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.45);
  
  &-title{
    @include Heading_3;
  }
  
  &-passwords{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
  }
  
  &-control{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;

    div{
      opacity: 0;
      min-height: 15px;
      visibility: hidden;
      color: var(--error);
      
      &:last-child{
        height: auto;
      }
      
      small{
        @include Link_Small;
        display: block;
        margin-bottom: 3px;
      }
      
      &.error{
        opacity: 1;
        visibility: visible;
      }
    }
    
    &_radio{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    &_label{
      display: block;
      @include Input_Label;
    }
    
    &_input{
      display: block;
      height: 50px;
      width: 400px;
      background-color: var(--input-backgound-color);
      box-shadow: var(--box-shadow-color) 0px 0px 0px 1px;
      border-radius: 3px;
      padding: 0 10px;
      color: var(--input-text-color);
      @include Input;
      
      &.error{
        box-shadow: var(--error) 0px 0px 0px 2px;

        &:focus{
          box-shadow: var(--error) 0px 0px 0px 2px;
        }
      }
      
      &:focus{
        box-shadow: var(--box-shadow-color) 0px 0px 0px 2px;
      }
    }
    button {
      position: absolute;
      right: 20px;
      top: 40px;
      cursor: pointer;
      padding: 0;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      
      svg {
        path {
          fill: var(--button-background-default-color);
        }
      }


      span{
        content: "";
        position: absolute;
        width: 2.5px;
        height: 30px;
        right: 2px;
        top: 0px;
        transform: rotate(45deg) scaleY(0);
        transform-origin: right top;
        transition: all 200ms ease-in;
        background: var(--button-background-default-color);   
  
  
        &.visible{
          transform: rotate(45deg) scaleY(1);
        }
      }
    }
  }
  &-links{
    padding: 0 2px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    @include Input_Label;
    width: 100%;

    a{
      @include Link_Small;
      cursor: pointer;
    }
    a:last-child{
      @include Link;
      color: var(--button-background-default-color);
    }
  }
}
  