<div class="daily-calendar">
  <div class="daily-calendar_container">
    <div class="daily-calendar_container-body">
      <div class="week">
        <div
          class="day"
          [ngClass]="{ active: calendar?.active, disabled: calendar?.disabled, selected: calendar?.selected }"
          (click)="selected(calendar?.value)"
        >
          <div *ngFor="let hour of hours" class="hour">
            <p>{{ hour }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
