@import "src/app/core/mixins/fonts";

.dashboard {
  height: 100%;

  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    h3{
      @include Heading_3;
    }
    p{
      @include Paragraph;
    }
  }
}
