<form class="form" [formGroup]="signInForm" (ngSubmit)="onSignIn()">
  <h3 class="form-title">
    {{ 'AUTHENTICATION.SIGN_IN_HERE' | translate | titlecase }}
  </h3>
  <div class="form-control">
    <label class="form-control_label" for="username">{{
      'AUTHENTICATION.USER_NAME' | translate | titlecase
    }}</label>
    <input
      class="form-control_input"
      formControlName="userName"
      type="text"
      id="username"
    />
  </div>
  <div class="form-control">
    <label class="form-control_label" for="password">{{
      'AUTHENTICATION.PASSWORD' | translate | titlecase
    }}</label>
    <input
      class="form-control_input"
      formControlName="password"
      type="password"
      id="password"
    />
  </div>
  <div class="form-links">
    <a>{{ 'AUTHENTICATION.FORGOT_PASSWORD' | translate | titlecase }}</a>
    <a (click)="onClick.emit()">{{
      'AUTHENTICATION.SIGN_UP' | translate | titlecase
    }}</a>
  </div>
  <app-ui-button
    [type]="'submit'"
    [text]="'AUTHENTICATION.SIGN_IN' | translate | titlecase"
  ></app-ui-button>
</form>
