<form class="form" [formGroup]="signInForm" (ngSubmit)="onSignIn()">
  <h3 class="form-title">Sign In Here</h3>
  <div class="form-control">
    <label class="form-control_label" for="username">Username</label>
    <input
      class="form-control_input"
      formControlName="userName"
      type="text"
      id="username"
    />
  </div>
  <div class="form-control">
    <label class="form-control_label" for="password">Password</label>
    <input
      class="form-control_input"
      formControlName="password"
      type="password"
      id="password"
    />
  </div>
  <div class="form-links">
    <a>Forgot Password?</a>
    <a (click)="onClick.emit()">Sign Up</a>
  </div>
  <app-ui-button [type]="'submit'" [text]="'Sign In'"></app-ui-button>
</form>
