@import "src/app/core/mixins/fonts";

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
  height: 100%;
    
  &-title{
    @include Heading_3;
  }
   
  &-control{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    
    div{
      opacity: 0;
      visibility: hidden;
      color: var(--error);

      small{
        @include Link_Small;
      }
      &.error{
        opacity: 1;
        visibility: visible;
      }
    }
    &_label{
      display: block;
      @include Input_Label;
    }

    &_input{
      display: block;
      height: 50px;
      width: 400px;
      background-color: var(--input-backgound-color);
      box-shadow: var(--box-shadow-color) 0px 0px 0px 1px;
      border-radius: 3px;
      padding: 0 10px;
      @include Input;

      &.error{
        box-shadow: var(--error) 0px 0px 0px 2px;

        &:focus{
          box-shadow: var(--error) 0px 0px 0px 2px;
        }
      }

      &:focus{
        box-shadow: var(--base-items-focus-color) 0px 0px 0px 2px;
      }      
    }
    button {
      position: absolute;
      right: 20px;
      top: 40px;
      cursor: pointer;
      padding: 0;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      
      svg {
        path {
          fill: var(--button-background-default-color);
        }
      }


      span{
        content: "";
        position: absolute;
        width: 5px;
        height: 30px;
        right: 1px;
        top: 1px;
        transform: rotate(45deg) scaleY(0);
        transform-origin: right top;
        transition: all 300ms ease-in;
        background: var(--button-background-default-color);
        background: -moz-linear-gradient(left,  var(--button-background-default-color) 50%, var(--input-backgound-color) 50%);
        background: -webkit-linear-gradient(left,  var(--button-background-default-color) 50%,var(--input-backgound-color) 50%);
        background: linear-gradient(to right,  var(--button-background-default-color) 50%,var(--input-backgound-color) 50%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--button-background-default-color)', endColorstr='var(--input-backgound-color)',GradientType=1 ); 
  
  
        &.visible{
          transform: rotate(45deg) scaleY(1);
        }
      }
    }
  }
  &-links{
    padding: 0 2px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    a{
      @include Link_Small;
      cursor: pointer;
    }
    a:last-child{
      @include Link;
    }
  }
}
