.form{
  background-color: var(--backgorund-transparent-color);
  border-radius: 10px;
  border: 2px solid var(--border-color);
  box-shadow: 0 0 40px var(--box-shadow-color);
  font-family: 'Poppins',sans-serif;
  display: flex;
  backdrop-filter: blur(10px);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 30px;
    
  &-title{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
  }
   
  &-control{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
 
    &_label{
      display: block;
      font-size: 16px;
      font-weight: 500;
    }
    &_input{
      display: block;
      height: 50px;
      width: 350px;
      background-color: var(--input-backgound-color);
      border-radius: 3px;
      padding: 0 10px;
      font-size: 14px;
      font-weight: 300;
      
    }
  }
  &-button{
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }
  &-links{
    padding: 0 2px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    a{
      cursor: pointer;
    }
    a:last-child{
      font-size: 18px;
    }
  }
}
