:host, :host-context, ::ng-deep {
  width: 100%;
  height: 100%;
}

.crm {
  width: 100%;
  height: 150vh;
  background-color: var(--background-color);

  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
  }
}