@mixin Heading_1{
  font-family: 'Poppins',sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 42px;
  text-align: center;
}

@mixin Heading_3{
  font-family: 'Poppins',sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

@mixin Paragraph{
  font-family: 'Poppins',sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}

@mixin Input_Label{
  font-family: 'Poppins',sans-serif;
  font-size: 16px;
  font-weight: 500;
}
@mixin Input{
  font-family: 'Poppins',sans-serif;
  font-size: 14px;
  font-weight: 300;
}

@mixin Link{
  font-family: 'Poppins',sans-serif;
  font-size: 18px;
}
@mixin Link_Small{
  font-family: 'Poppins',sans-serif;
  font-size: 14px;
}

@mixin Button{
  font-family: 'Poppins',sans-serif;
  font-size: 16px;
}