@import "src/app/core/mixins/fonts";

.chat{
  display: flex;
  height: calc(100vh - 210px);
  
  &-users{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 5px 10px 5px 5px;
    gap: 20px;
    width: 300px;
    border-radius: 10px;

    &::-webkit-scrollbar {
      width: 6px;
    }
    
    &::-webkit-scrollbar-track {
      background: var(--selected-tab-color);
      box-shadow: var(--box-shadow-color) 0px 0.0625em 0.0625em,
                  var(--box-shadow-color) 0px 0.125em 0.5em,
                  rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: var(--button-background-default-color);
      border-radius: 20px;
    }

    &_wrapper{
      padding: 20px 10px 20px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      background-color: var(--base-backgound-color);
      border-radius: 10px;
      border: 1px solid var(--selected-tab-color);
      box-shadow: var(--box-shadow-color) 0px 0.0625em 0.0625em,
                  var(--box-shadow-color) 0px 0.125em 0.5em,
                  rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

      .form-control{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        position: relative;
        padding: 5px 15px 5px 5px;
        width: 100%;
        
        &_label{
          display: block;
          @include Input_Label;
        }
        
        &_input{
          display: block;
          height: 30px;
          width: 100%;
          background-color: var(--input-backgound-color);
          box-shadow: var(--box-shadow-color) 0px 0px 0px 1px;
          border-radius: 3px;
          padding: 0 10px;
          @include Input;
          color: var(--light-text-color);
                
          &:focus{
            box-shadow: var(--box-shadow-color) 0px 0px 0px 2px;
          }      
        }
      }
     } 
    
     &_user{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      gap: 10px;
      border-radius: 10px;
      border: 1px solid var(--selected-tab-color);
      cursor: pointer;
      box-shadow: var(--box-shadow-color) 0px 0.0625em 0.0625em,
                  var(--box-shadow-color) 0px 0.125em 0.5em,
                  rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
      &-info{
        display: flex;
        align-items: center;
        gap: 5px;
      }
      &-avatar{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid var(--base-text-color);
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-body{
        h4{
          @include Paragraph;
        }
        p{
          @include Paragraph_2;
        }
        &_online{
          @include Paragraph_2;
          color: var(--success);
          font-weight: 700;
        }
        &_offline{
          @include Paragraph_2;
          font-weight: 700;
          color: var(--error);
        }
      }
      &-button{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        padding: 10px;
        border: 1px solid var(--selected-tab-color);
        cursor: pointer;
        box-shadow: var(--box-shadow-color) 0px 0px 3px 3px inset, var(--box-shadow-color) 0px 0px 6px 3px inset;
        
        &:active{
          box-shadow: var(--box-shadow-color) 0px 0px 6px 3px inset, var(--box-shadow-color) 0px 0px 6px 3px inset;
        }

        svg {
          width: 20px;
          height: 20px;
          path{
            fill: rgb(212, 192, 12);
          }
        }
      }
    }
  }
}

