@import '/src/app/core/mixins/fonts.scss';

.drop-down-lang {
  height: 60px;
  width: 75px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px;
  cursor: pointer;

  &.show {
    .drop-down-lang_menu {
      opacity: 1;
      visibility: visible;
    }
  }

  p {
    @include Link_Small;
  }

  &_menu {
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 8px 16px 0 var(--box-shadow-color);
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
  }

  &_item {
    @include Button;
    text-align: center;
  }

  &_btn {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    transition: all .5s ease-in-out;

    &:hover {
      color: var(--button-background-default-color);
      border-bottom: 1px solid var(--button-background-default-color);
    }
  }

}